<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/jquery.js" type="application/javascript"></script>
    <script src="js/main.js" type="application/javascript"></script>
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
    <title></title>
</head>
<body>
    <header class="wrapper pie">
        <div class="makeMeThird">
            <a href=""><img src="img/layout/logo.png" alt=""/></a>
        </div>
        <div class="makeMeThird">
            <h2>Konstrukce, výroba a opravy jednoúčelových strojů a zařízení</h2>
        </div>
        <div class="makeMeThird pullRight">
            <a href=""><img src="img/layout/cs.png" alt=""/></a>
            <a href=""><img src="img/layout/en.png" alt=""/></a>
            <a href=""><img src="img/layout/de.png" alt=""/></a>
        </div>
    </header>
    <nav id="mainNav" class="wrapper">
        <a href=""><img src="img/layout/home.png" alt="" class="home"/></a>
        <div class="nav">
            <a href="">Naše služby</a>
            <a href="">Výrobní kapacity</a>
            <a href="">Reference</a>
            <a href="">Dokumenty a certifikace</a>
            <a href="">O nás</a>
            <a href="">Kariéra</a>
            <a href="">Kontakty</a>
        </div>
    </nav>
    <section id="intro" class="wrapper pie">
        <div class="makeMeThird">
            <img src="img/layout/introConstruction.png" alt="Konstrukce"/>
            <h4>konstrukce strojů</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
            <a href="" class="makeMeButton">více</a>
        </div>
        <div class="makeMeThird">
            <img src="img/layout/introMaking.png" alt="Výroba"/>
            <h4>výroba strojů</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
            <a href="" class="makeMeButton">více</a>
        </div>
        <div class="makeMeThird">
            <img src="img/layout/introRepair.png" alt="Oprava"/>
            <h4>oprava strojů</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
            <a href="" class="makeMeButton">více</a>
        </div>
    </section>
    <section>
        <article>

        </article>
    </section>
    <footer>
        <div class="wrapper pie">
            <div class="makeMeHalf">

            </div>
            <div class="makeMeHalf">

            </div>
        </div>
    </footer>
</body>
</html>