<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/jquery.js" type="application/javascript"></script>
    <script src="js/jqueryUI.js" type="application/javascript"></script>
    <script src="js/bxSlider/plugins/jquery.easing.1.3.js" type="application/javascript"></script>
    <script src="js/bxSlider/jquery.bxslider.min.js" type="application/javascript"></script>
    <script src="js/main.js" type="application/javascript"></script>
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
    <title></title>
</head>
<body>
<header class="wrapper row">
    <div class="col-sm-5">
        <a href=""><img src="img/layout/logo.png" alt=""/></a>
    </div>
    <div class="col-sm-4">
        <h2>Konstrukce, výroba a opravy jednoúčelových strojů a zařízení</h2>
    </div>
    <div class="col-lg-3 pullRight">
        <a href=""><img src="img/layout/cs.png" alt=""/></a>
        <a href=""><img src="img/layout/en.png" alt=""/></a>
        <a href=""><img src="img/layout/de.png" alt=""/></a>
    </div>
</header>
<nav id="mainNav" class="wrapper">
    <a href="index.html"><img src="img/layout/home.png" alt="" class="home"/></a>
    <a href="#" class="navToggle"><span></span></a>
    <div class="nav">
        <a href="">Naše služby</a>
        <a href="">Výrobní kapacity</a>
        <a href="">Reference</a>
        <a href="">Dokumenty a certifikace</a>
        <a href="">O nás</a>
        <a href="">Kariéra</a>
        <a href="">Kontakty</a>
    </div>
</nav>
<nav id="vyrobniKapacityItems">
    <div class="wrapper row">
        <div class="col-sm-15">
            <a href="">
                <span>Konveční obrábění</span>
            </a>
        </div>
        <div class="col-sm-15">
            <a href="">
                <span>NC obrábění</span>
            </a>
        </div>
        <div class="col-sm-15">
            <a href="">
                <span>Zámečnické práce</span>
            </a>
        </div>
        <div class="col-sm-15">
            <a href="">
                <span>Značení dílů</span>
            </a>
        </div>
        <div class="col-sm-15">
            <a href="">
                <span>Kontrola výroby</span>
            </a>
        </div>
    </div>
</nav>
<nav class="breadcrumbs wrapper">
    <span><a href="">Hlavní stránka</a></span>
    <span><a href="">Výrobní kapacity</a></span>
</nav>
<section>
    <article id="productInfo">
        <section class="wrapper">
            <h1>konvenční obrábění</h1>
            <div class="row">
                <div class="col-lg-7">
                    <h2>Soustruhy</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                    <h3>Technické data</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>typ</th><th>točný průměr x délka</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SUI 40</td><td>460 x 300 mm<br>220 x 2000 mm</td>
                            </tr>
                            <tr>
                                <td>S Univ.</td><td>700 x 200 mm<br>350 x 900 mm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5">
                    <div class="productGallery">
                        <img src="http://placehold.it/398x306" class="img-responsive" alt=""/>
                        <ul class="bxslider small">
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=1" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=2" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=3" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=4" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=5" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=6" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=7" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=8" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=9" alt=""/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="wrapper">
            <h1>Frézky</h1>
            <div class="row">
                <div class="col-lg-7">
                    <h2>Soustruhy</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                    <h3>Technické data</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>typ</th><th>točný průměr x délka</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>SUI 40</td><td>460 x 300 mm<br>220 x 2000 mm</td>
                        </tr>
                        <tr>
                            <td>S Univ.</td><td>700 x 200 mm<br>350 x 900 mm</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5">
                    <div class="productGallery">
                        <img src="http://placehold.it/398x306" class="img-responsive" alt=""/>
                        <ul class="bxslider small">
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=1" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=2" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=3" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=4" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=5" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=6" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=7" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=8" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://placehold.it/110x84&text=9" alt=""/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </article>
</section>
<footer>
    <div class="footerTop">
        <div class="wrapper row">
            <div class="col-sm-6">
                <h2>Napište nám</h2>
                <form action="?" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="contactform[jmeno]" class="" placeholder="Jméno" required="">
                            <input type="email" name="contactform[email]" class="" placeholder="Email" required="">
                            <input type="tel" name="contactform[telefon]" class="" placeholder="Telefon">
                        </div>
                        <div class="col-sm-6 footerTextArea">
                            <textarea name="contactform[zprava]" class="" placeholder="Text" required=""></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="show_name" readonly="">
                        </div>
                        <div class="col-sm-6 footerButtons">
                            <div class="col-xs-6">
                                <button type="button" id="choseFile" class="makeMeButtonGrey">přidat soubor</button>
                            </div>
                            <div class="col-xs-6">
                                <button type="submit" name="send" class="makeMeButtonGrey">odeslat</button>
                            </div>
                        </div>
                    </div>
                    <input type="file" name="file" class="makeMeHidden">
                    <input type="hidden" name="h_module" value="contact">
                    <input type="hidden" name="h_action" value="send">
                    <input type="hidden" name="h_secure" value="69c76325b58865be22ce6dc9f67b2eb1">
                </form>
                <script type="text/javascript">
                    $('#choseFile').click(function () {
                        $('input[type="file"]').click();
                    });

                    $('input[type="file"]').change(function(){
                        if (this.files && this.files[0]) {
                            $(".show_name").val(this.files[0].name);
                        }
                    });
                </script>
            </div>
            <div class="col-sm-6">
                <h2>Kde nás najdete</h2>
                <div class="row">
                    <div class="col-sm-8">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5200.989751690255!2d17.54886257281522!3d49.323848922540485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47130cb9ea549b5b%3A0xbe6c96e1ee594ee0!2sGergel+S.r.o.!5e0!3m2!1scs!2scz!4v1425558384913" height="186" frameborder="0" style="border:0"></iframe>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <strong>2015 GERGEL, s.r.o.</strong>
                            <br/>
                            Nábřeží č.p. 599
                            <br/>
                            760 01  Zlín
                            <br/>
                            <br/>
                            email: info@gergel.cz
                            <br/>
                            tel.: +420 577 434 574
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerBottom">
        <div class="wrapper">
            <strong>2015 GERGEL, s.r.o.</strong>
        </div>
    </div>
</footer>
</body>
</html>