<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/jquery.js" type="application/javascript"></script>
    <script src="js/main.js" type="application/javascript"></script>
    <title></title>
</head>
<body>
    <header class="wrapper pie">
        <div class="makeMeThird">
            <a href=""><img src="img/layout/logo.png" alt=""/></a>
        </div>
        <div class="makeMeThird">
            <h2>Konstrukce, výroba a opravy jednoúčelových strojů a zařízení</h2>
        </div>
        <div class="makeMeThird">

        </div>
    </header>
    <nav id="mainNav" class="wrapper">

    </nav>
    <section>
        <article>

            <div class="wrapper">
                <h1>obecná stránka</h1>
                <h2>Společnost GERGEL, s.r.o.</h2>
                <div class="pullLeft">
                    <p>je soukromá firma s dlouholetou tradicí založená v roce 1992. Zaměřuje se na konstrukci a výrobu jednoúčelových strojů a zařízení, opravy strojních výrobních zařízení a dodávky dopravníkových systémů. Je dodavatelem strojních dílů a celků pro významné podniky v České republice i v zahraničí. Po celou dobu existence společnosti je na výrobu obráběných dílů ve vysoké jakosti kladen velký důraz. V roce 2001 získala certifikaci dle norem EN ISO 9001 u DNV. V současné době zaměstnává 20 zaměstnanců.</p>
                    <p>je soukromá firma s dlouholetou tradicí založená v roce 1992. Zaměřuje se na konstrukci a výrobu jednoúčelových strojů a zařízení, opravy strojních výrobních zařízení a dodávky dopravníkových systémů. Je dodavatelem strojních dílů a celků pro významné podniky v České republice i v zahraničí. Po celou dobu existence společnosti je na výrobu obráběných dílů ve vysoké jakosti kladen velký důraz. V roce 2001 získala certifikaci dle norem EN ISO 9001 u DNV. V současné době zaměstnává 20 zaměstnanců.</p>
                </div>
                <div class="pullRight">
                    <img src="http://placehold.it/445x310" alt=""/>
                </div>
                <div class="cleaner"></div>
                <p>je soukromá firma s dlouholetou tradicí založená v roce 1992. Zaměřuje se na konstrukci a výrobu jednoúčelových strojů a zařízení, opravy strojních výrobních zařízení a dodávky dopravníkových systémů. Je dodavatelem strojních dílů a celků pro významné podniky v České republice i v zahraničí. Po celou dobu existence společnosti je na výrobu obráběných dílů ve vysoké jakosti kladen velký důraz. V roce 2001 získala certifikaci dle norem EN ISO 9001 u DNV. V současné době zaměstnává 20 zaměstnanců.</p>


                <h1>nadpis h1</h1>
                <h2>nadpis h2</h2>
                <h3>nadpis h3</h3>
                <h4>nadpis h4</h4>

                <p>
                    text
                    <br/>
                    <a href="#">odkaz</a>
                    <br/>
                    <strong>bold</strong>
                    <br/>
                    <em>cursiva</em>
                </p>
            </div>
        </article>
    </section>
    <footer>

    </footer>
</body>
</html>