@import "variables";

#top > div:nth-child(2) {
  text-align: right;
}
#top > div:nth-child(2) a img {
  margin-top: 35px;
  transition: 0.2s;
}
#top > div:nth-child(2) a img:hover {
  transform: scale(0.95, 0.95);
  transition: 0.2s;
}

Body {
  font-family: $OpenSans;
  color: $lightDark;
  //background: url('../img/homepage-products-texture.jpg');
}

p, input, textarea, table {
  font-size: $defaultFontSize !important;
}

p {
  margin-bottom: 1rem;
}

header {
  background: white;

  #main-logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

footer {
  background: url('../img/homepage-products-texture.jpg');
  padding: 20px 0;
  color: white;
  width: 100%;

  .dg {

    font-size: .865rem;

    img#dg-logo {
      margin-top: -10px;
      padding-left: .75rem;
    }

  }

}

.display-table {
  display: table !important;
  width: 100%;

  .display-row {
    display: table-row;
    width: 100%;

    .display-cell {
      display: table-cell;
    }
  }

}

.radius {
  border-radius: 4px !important;
}

.row-full {

  width: 100%;
  max-width: 100%;

}

.full-height {
  height: 100%;
}

.no-border {
  border-width: 0px !important;
}

.button.more {
  background-image: url('../img/list-arrow.png');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  padding: 0.3rem 1.6rem 0.4rem 0.6rem !important;
  font-size: 0.8125rem;
  font-weight: 400 !important;
  margin-bottom: 0;
  border-width: 0px !important;
}

a:not(.button) {
  color: $red;

  &:hover {
    text-decoration: underline;
    color: $red;
  }

}

.breadcrumbs {
  margin-top: .5rem;
}

.pagination {
  li {
    padding-left: .5rem !important;
    list-style-image: none !important;

    &:hover {
      a {
        text-decoration: none;
      }
    }

    &.current {
      a {
        background: $red !important;
      }
    }

  }
}

#message {
  a:hover {
    text-decoration: none;
  }
}

#main-nav {
  background-color: $red;
  box-shadow: 0 6px 7px rgba(0,0,0,0.17);

  nav {
    background: transparent;

    .title-area {
      background: inherit;

      .name:hover {
        background: inherit;
      }

    }

    li {

      background: inherit;
      float: none;
      text-align: center;

      a:hover {
        text-decoration: none;
      }

      &.has-dropdown {
        a {
          text-align: left;
        }

        @media (min-width: 40.063em) {

          ul.dropdown {

            &:before {
              content: '';
              width: 100%;
              height: 10px;
              margin-top: -0.625rem;
              box-shadow: 0 6px 7px rgba(0,0,0,0.17);
              display: block;
            }

            li, a {
              background: transparent;
              font-size: 0.875rem;
            }

          }

          &.catalog {
            position: static;

            a {
              padding-right: 0.9375rem !important;
            }

            a:after {
              float: right;
              position: static;
              margin-top: 20px;
              margin-right: 0px;
            }

            ul.catalog.dropdown {

              background: $darkRed;

              li {
                width: 25%;
                float: left;
                padding-left: 1.5rem;
                padding-right: 1.5rem;

                a {
                  background: url('../img/list-arrow.png') left 1.125rem no-repeat;;
                }
              }

              &.medium-block-grid-4 > li:nth-of-type(4n+1) {
                clear: none;
              }

              &.medium-block-grid-4 > li:nth-of-type(4n + 3) {
                clear: left;
              }

              &:before {
                content: '';
                margin-bottom: 1.25rem;
              }

            }
          }
        }

        ul.catalog {
          width: 100%;
        }

      }

      a {
        background: inherit;
        font-size: 1rem;
      }

      &.active, &:hover {
        background: darken($red, 10);

        &.active a {
          font-weight: 600;
        }
      }

    }

    div {
      a {
        color: white;
        text-align: center;

        &.active, &:hover {
          background: darken($red, 10);
        }

        &.active {
          font-weight: 600;
        }

      }
    }

    ul.dropdown {
      background: darken($red, 10);
    }

    &.expanded {
      li {
        display: block;
        text-align: left;
      }
    }
  }
}

#nav-sub {

  margin-bottom: 1rem;

  h1 {
    color: white !important;
  }

  ul {
    background-color: $red;
    padding: 0;

    li {

      color: white;
      list-style-image: none !important;
      background-color: inherit;
      margin-bottom: 0;
      padding-left: 1.75rem !important;
      padding-right: 1.75rem !important;;

      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $border-radius $border-radius ;
      }

      &.header, &.active {
        background-color: darken($red, 10);
      }

      &.hr {
        hr {
          height: 1px;
          background-color: lighten($red, 25);
          margin: 0;
          border: 0
        }
      }

      a {
        color: inherit;
        padding-left: 0;

        &:hover {
          text-decoration: none;
        }

      }

      &.active {
        a {
          font-weight: 600;
        }
      }

      &.header {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: .5rem;

        a {
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;

          &:hover {
            background-color: transparent;
          }
        }

      }

      &:not(.header) {

        transition: background-color .25s;

        a {
          background: url('../img/arrow-right-white-small.png') left center no-repeat;
          padding-left: 0.875rem;
        }

        &:hover:not(.active) {
          background-color: darken($red, 5);
        }
      }

    }

    @media (min-width: 40.063rem) {
      border-radius: $border-radius;
    }

  }

  ul.title-area {
    background-color: darken($red, 10);

    li {
      a {
        background-image: none;
        padding-left: 0;
      }

      &:hover {
        background-color: darken($red, 10) !important;
      }

    }
  }


}

#content {

  position: relative;
  background: $mediumgrey;
  padding-bottom: 10px;

  .top-shadow:before {
    content: '';
    width: 100%;
    height: 10px;
    margin-top: -0.625rem;
    box-shadow: 0 6px 7px rgba(0,0,0,0.17);
    display: block;
    position: absolute;
    top: 0;
  }

  h1, h2, h3, h4, h5 {
    color: $greyblue;
    font-weight: 600;
  }

  ul {
    li {
      list-style-image: url('../img/list-arrow-red.png');
      padding-left: 1rem;
    }
  }

  .button.red, button.red {
    background-color: $red;
    padding: 0.6rem 1rem;
    font-weight: 600;
    border: 1px solid white;
    box-shadow: 0 0 6px 4px rgba(0,0,0,0.17);

    &:hover {
      background-color: darken($red, 10);
    }

  }

  & > div > header {
    background-color: $mediumgrey;
    padding: 2rem 0;
    margin-bottom: 1rem;
  }

  table {

    border-width: 0;

    th {
      background-color: $red;
      color: white;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    td:first-of-type, th:first-of-type {
      border-radius: $border-radius 0 0 $border-radius;
    }

    td:last-of-type, th:last-of-type {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }

  .uvodni-popis {
    color: $red;
  }

  ul:not(.side-nav) {
    font-size: $defaultFontSize;
  }

}

#article-widget-list {

  h2 {
    color: white;
  }

  padding-top: 20px;
  padding-bottom: 20px;

  .button.continue {
    background-image: url('../img/list-arrow.png');
    background-repeat: no-repeat;
    background-position: 0.5rem;
    padding: 0.4rem 0.6rem 0.4rem 1.4rem !important;
    font-weight: 400 !important;
    font-size: 0.8125rem;
    box-shadow: none !important;
    margin-top: 5px
  }

  .list {

    li {
      padding-left: 0.625rem;
    }

    li > div {
      background-color: white;
      border-radius: 4px;
      padding: 1rem;

      p {
        margin-bottom: 0;
      }

    }
  }
}

#catalog-widget {

  .jcarousel-wrapper {
    border-width: 0px !important;
    box-shadow: none;

    .jcarousel {
      ul {
        li {
          border-width: 0px !important;
          list-style: none;
          padding-top: 10px !important;
          color: white;
          text-align: center;

          h4 {
            color: white;
            text-align: center;
            min-height: 50px;
          }

          a:hover {
            text-decoration: none;
          }

          a.button {
            background-image: url('../img/list-arrow-white.png');
            background-repeat: no-repeat;
            background-position: .7rem center;
            padding: 0.6rem 1.2rem 0.6rem 2rem;
            font-weight: 400;
          }

          span.number {
            border: 1px solid white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: table-cell;
            text-align: center;
            color: white;
            vertical-align: middle;
            margin-bottom: 0;
            box-shadow: 0 0 6px 3px rgba(0,0,0,0.37);
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.67);
          }

          .photo {
            margin-bottom: 11px;

            a {
              height: 137px;
              width: 125px;
              display: table-cell;
              vertical-align: middle;
              margin: 0 auto;
              background: url('../img/product-homepage-image-cointainer-white.png') center top no-repeat;

              img {
                display: inline-block;
              }

              &:hover {
                background: url('../img/product-homepage-image-cointainer-red.png') center top no-repeat;
              }

            }
          }
        }
      }
    }

    .jcarousel-control {
      background: none;
      border-width: 0px;
      box-shadow: none;
      border-radius: 0;
      width: 48px;
      height: 96px;
      margin-top: -48px
    }

    @media (min-width: 74.063rem) {
      .jcarousel-control-prev {
        margin-left: -96px;
      }

      .jcarousel-control-next {
        margin-right: -96px;
      }
    }

  }

}

#form-contact {

  .with-textarea {
    padding-bottom: 1rem;
  }

  textarea {
    height: 100%;
    margin-bottom: 0%;
  }
}

#page-homepage {

  #info {
    padding-top: 3rem;
    background: $lightgrey url('../img/homepage-arrow-down.png') center bottom 40px no-repeat;
    padding-bottom:  85px;

    .button, button {
      font-size: 0.875rem;
      background-image: url('../img/button-arrow.png');
      background-repeat: no-repeat;
      background-position: 15px center;
      padding-left: 2rem;
      margin-top: 12px;
      border-width: 0;
    }

  }

  #news {
    background-color: $red;
  }

  #products {
    background:url('../img/homepage-arrow-down.png') center bottom 40px no-repeat, url('../img/homepage-products-texture.jpg') left top repeat;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  #why-we {
    padding-top: 30px;
    padding-bottom: 100px;
    background: url('../img/homepage-arrow-down.png') center bottom 40px no-repeat;

    .box {

      .inner {
        background-color: $grey;
        padding: 1rem;
        border-radius: 4px;
        font-size: .8125rem;

        p {
          font-size: inherit
        }

        ul {
          margin-bottom: 0;
          font-size: inherit;
        }

        h5 {
          border-bottom: 1px solid $darkgrey;
          padding-bottom: 0.5rem;
        }
      }

      &:after {
        content: '';
        width: 100%;
        background: transparent url('../img/homepage-box-arrow.png') left 53px center no-repeat;
        height: 33px;
        display: block;
      }
    }

    a.button {
      background-image: url('../img/list-arrow-white.png');
      background-position: 1rem center;
      background-repeat: no-repeat;
      padding-left: 2.5rem;
    }

  }

  #google-map {

    position: relative;

    p, ul {
      font-size: 0.875rem;
      margin-bottom: 0px;
    }

    #map {
      height: 408px;
      z-index: 1;
    }

    .box, .content {
      position: absolute;
      padding: 2rem;
      background: rgba(255,255,255,0.8);
      z-index: 4;
      top: 25%;
      right: 50px;
      border-radius: 4px;
      box-shadow: 0 0 5px 5px rgba(0,0,0,0.17);
    }
    li {
      padding-bottom: 0px;
      padding-left: .625rem;

      &.tel, &.mobil, &.fax, &.mail {
        padding-left: 1.5rem;
        background-position: left .625rem center;
        background-repeat: no-repeat;

        &.tel {
          background-image: url('../img/icon-tel.png');
        }

        &.mobil {
          background-image: url('../img/icon-mobil.png');
        }

        &.fax {
          background-image: url('../img/icon-fax.png');
        }

        &.mail {
          background-image: url('../img/icon-mail.png');
        }

        &:nth-child(even) {
          background-position: left center;
        }
      }
    }
  }
}

#page-article {

  article {
    background-color: $grey;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
  }

  &.list {
      h4 {
        color: inherit;
        text-decoration: underline;
        font-weight: 600;
        background: url('../img/list-arrow-red.png') left center no-repeat;
        padding-left: 20px;
        margin-top: 0;
      }
  }

  &.detail {
    img.main {
      margin: 0 4rem 2rem 0;
    }

   time {
      font-size: $defaultFontSize;
      text-align: right;
      display: block;
      margin-bottom: 1rem;
    }

    .uvodni-popis {

      &.arrow {
        background: url('../img/list-arrow-red.png') left 4px no-repeat;
        text-indent: 20px;
      }

    }
  }

}

#page-contact {
  #map {
    height: 238px
  }
}

#page-catalog {

  &.list {
    ul {
      li {
        .photo {

          margin-bottom: 21px;

          a {
            height: 137px;
            width: 125px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            margin: 0 auto;
            background: url('../img/product-homepage-image-cointainer-red.png') center top no-repeat;

            img {
              display: inline-block;
            }

            &:hover {
              background: url('../img/product-homepage-image-cointainer-white.png') center top no-repeat;
            }

          }
        }
      }
    }
  }

  &.detail {
    aside.main-photo {
      float: right;
      margin-left: 1rem;
      margin-bottom: 1rem;
      background: url('../img/product-image-cointainer-big-white.png') top center;
      width: 245px;
      height: 269px;
      text-align: center;

      .display-cell {
        height: 100%;
        vertical-align: middle;
        padding-bottom: 23px;
      }

    }
  }

}