$OpenSans: 'Open Sans', sans-serif;

$red       : #c3071c;
$darkRed   : #920515;
$lightDark : #404040;
$greyblue  : #57546b;
$lightgrey : #f2f2f2;
$mediumgrey: #eeeeee;
$darkgrey  : #d1d1d4;
$grey      : #e8e8e8;

$border-radius: .5rem;
$defaultFontSize: .8125rem;