#productInfo {
  padding: 35px;
  section {
    padding-bottom: 20px;
    margin-bottom: 35px;
    border-bottom: 2px solid #e9e9e9;
  }
  section:last-child {
    border-bottom: none;
  }
  table {
    th:first-child, td:first-child {
      padding-right: 50px;
    }
  }
  .productGallery {
    margin-bottom: 50px;
    > img {
      @media (max-width: @screen-lg-min) {
        margin: 20px auto;
      }
    }
  }
}