H1{color: #000; font-size: 16pt;}
H2{color: #000; font-size: 14pt;}
.left{float: left;}
.right{float: right;}

a{color: #000; text-decoration: none;}

#Header{display: none;}
#ModuleLinks{display: none;}

/* list, edit */
#ToolButts, .filtering, .fr2{display: none;}

#ListTableSection{margin: 0 0 20px 0; padding: 0; float: left;}
#ListTableSection table{margin: 15px 0 25px; clear: both;}
#ListTableSection table, #ListTableSection table td, #ListTableSection table th{border: 1px solid #666666; border-collapse: collapse;}
#ListTableSection table th{font-weight: bold; padding: 4px 5px;}
#ListTableSection table td{padding: 3px 5px;}

#ListTablePagination{display: none;}
#ListTableFormControls{display: none;}

.tree_level_2{padding-left: 13px; background: url(../img/level_separator.gif) 0 -4px no-repeat;}
.tree_level_3{padding-left: 25px; background: url(../img/level_separator.gif) 12px -4px no-repeat;}

/* edit */
.languageButts{display: none;}
.buttonsBar{display: none;}

