@import "header";
@import "navs";

body {
  min-width: 100%;
  background: url("../img/layout/bgAl.png") no-repeat 0 166px;
  background-size: 100% 502px;
  article {
    >.wrapper {
      box-sizing: border-box;
      padding: 35px;
    }
  }
}