html {
  font-family: 'open-sans', sans-serif;
  color: @textColor;
  font-size: @textSize;
  h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: @h_colorBlue;
  }
  h3, h4 {
    text-transform: none;
  }
  h1 {
    font-size: @h1Size;
  }
  h2 {
    font-size: @h2Size;
  }
  h3 {
    font-size: @h3Size;
  }
  h4 {
    font-size: @h4Size;
    color: @h_colorRed;
  }
  a {
    text-decoration: none;
    color: @aColor;
    &:hover {
      color: @aColorHover;
    }
    &:visited {
      color: @aColorVisited;
    }
  }
}