//-----------------------------colors
//background
@bgColor: white;
@navBgColor: #d91e0f;
//text
@textColor: #3a3a3a;
@textColorDark: #393939;
@h_colorBlue: #281473;
@h_colorRed: @navBgColor;
@aColor: @h_colorRed;
@aColorHover: @h_colorBlue;
@aColorVisited: @aColorHover;
//border
@introBorderColor: rgba(0, 0, 0, 0.17);

//-----------------------------text
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);
@textSize: 14px;
@familyRoboto: 'Roboto Condensed', sans-serif;
@h1Size: ceil(@textSize * 2.57); //36px pokud se @textSize = 14
@h2Size: ceil(@textSize * 1.71); //24px pokud se @textSize = 14
@h3Size: ceil(@textSize * 1.42); //20px pokud se @textSize = 14
@h4Size: ceil(@textSize * 1.71); //24px pokud se @textSize = 14

//-----------------------------grid
@pageWidth: 1000px;

//-----------------------------navs
@navHeight: 68px;
@navTextSize: 16px;
@navItemPadding: 30px;

//-----------------------------footer
@inputMargin: 14px;